[access "refs/heads/*"]
	label-Code-Review = -2..+2 group Identity Team
	create = group Identity Team
	submit = group Identity Team
[access "refs/*"]
	forgeAuthor = group Identity Team
	forgeCommitter = group Identity Team
[access "refs/for/*"]
	label-Verified = -1..+1 group Identity Team
[access "refs/tags/*"]
	create = group Identity Team
	push = group Identity Team
	pushTag = group Identity Team
